<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <footer>
        <section class="sec1-footer">
            <div class="sec1-desc-footer">
                <h4>¡CONOCENOS!</h4>
                <div class="is-divider small"></div>
                <div >
                    <ul type="none" class="li-footer">
                        <li>Vende nuestros productos</li>
                        <li>Vendedores oficiales</li>
                        <li>Quienes somos</li>
                    </ul>
                </div>
              
            </div>
        </section>
        <section class="sec2-footer">       
            <div class="sec2-desc-footer">
                <h4>ATENCION AL CLIENTE</h4>
                <div class="is-divider small"></div>
                <div >
                    <ul type="none" class="li-footer">
                        <li>Terminos y condiciones</li>
                        <li>Preguntas Frecuentes</li>
                        <li>Contactanos</li>
                    </ul>
                </div>
              
            </div>
        </section>   
        <section class="sec3-footer">    
            <div class="sec3-desc-footer">
                <h4>COMUNICATE CON NOSOTROS</h4>
                <div class="is-divider small"></div>
            </div>
            <div class="location">
                <a><i class="fas fa-map-marker-alt"> Ramirez de Velazco 562 San Salvador de Jujuy - Argentina</i> </a>
            </div>
            <div class="redes-sociales">
                <a><i class="fab fa-facebook"></i> </a>
                <a><i class="fab fa-instagram"></i> </a>
                <a><i class="fas fa-envelope-square"></i></a>
            </div>
        </section>
    </footer>
</body>
</html>