<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/styles_producto.css">
</head>
<body>

    <%- include('../partials/header')%>

    <main>
        <div class="navegacion">
            <p> <a href="/"> Inicio </a> </p>
            <p class="flecha"> > </p>
            <p> <a href="#"> Comidas Regionales </a> </p>
            <p class="flecha"> > </p>
            <p> <a href="#"> Locro </a> </p>
        </div>

        <div class="caja-grande">
            <img src="/img/Locro.jpg" alt="img-del-producto">

            <div class="detalle-de-compra">
                <h2> LOCRO </h2>
                <p class="precio"> $2000 </p>
                <p class="promo"> Llevando 7 platos: $12345</p>
                    
                <div class="contenedor1">
                    <article class="bloque-de-cantidad">
                        <div class="seleccion">
                            <p> Cantidad</p>
                            <p class="formulario-de-cantidad">
                                <label for="cantidad">
                                    <input type="number" name="cantidad" id="cantidad" placeholder="1">
                                </label>
                            </p>
                        </div>
            
                        <div class="botones-1">
                            <button type="button" class="signo-mas"> + </button>
                            <button type="button" class="signo-menos"> - </button>
                        </div>
                    
                    </article>
            
                    <a href="#"><button type="button"> AGREGAR AL CARRITO</button></a>
                </div>
            </div>

        </div>

        <section class="seccion2">
            <h3> Ingredientes </h3>
            <p> Porotos blancos, Maíz blanco, Chorizo colorado, Chorizo criollo, Cuerito de cerdo, Pechito de cerdo, Falda,Panceta, Cebollas, Cebollas de verdeo, Puerro, Calabaza, Morrón rojo, Condimentos: sal, pimienta, comino, pimentón, ají molido, orégano </p>

            <p> Tiempo de Preparación: 3hs 1/2 a 4hs</p>
        </section>
    </main>


        <%- include('../partials/footer')%>   

    <section class="sec4-footer">    
        <div class="copyrgight">
            <p>Copyright © 1999-2020 ComidasRegionales NOA S.R.L.</p>
        </div>
    </section>  


</body>
</html>