<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="/css/styles_home.css" rel="stylesheet" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet">
    <title>Delicias Jujeñas</title>
</head>
<body>
    <header>
        <div class="mensaje">
            <p>Descuento de un 30% en productos seleccionados</p>
        </div>
        <section class="contenedor">
                <div class="burger-menu">
                    <button><i class="fas fa-bars"></i></button>
                </div> 
                <div class="content-img" >
                    <a href="/"><img src="/img/logo.jpeg" alt="logo-comercio"id="logo"> </a>        
                </div>
                <div class="searchBar"> 
                    <input type="text" id="fname" name="fname" placeholder="Buscar platos">    
                    <button id="boton-buscador"> <i class="fas fa-search"></i></i></button>
                </div>
                <div class="header-full">
                    <div clase="carrito">
                        <a href="./carrito"> <i class="fas fa-shopping-cart"></i></a>
                    </div>
                    <div class="location">
                            <i class="fas fa-map-marker-alt"> Ubicacion</i>
                    </div>
                    <div class="sign-in">
                            <a href="./login"><i class="fas fa-sign-in-alt"> Inicio de Sesion</i> </a>
                    </div>
                </div>          
        </section> 
        <nav class="navBar">
            <div class="nav1">
                <ul class="enlaces-1" type="none" > 
                    <li><a href="">Congelados </a></li>
                    <li><a href="">Frescos </a></li>
                    <li><a href="./producto">Regionales</a></li>
                    <li><a href="">Recetas </a></li>
                </ul>
            </div>
           <div class="nav2">
                <ul type="none" clase="botones-redireccionables">
                    <li><button id="promo">Promos</button> </li>
                    <li><button>Combos</button> </li>
                    <li><button>Zonas de Envio</button></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="sec-carrusel">
            <div class="carrusel">
                <img src="/img/GASTRONOMIA.jpg">
            </div>
        </section>
        <section class="sec-info">
            <div clase="secInfoTitle">
                <b></b>
                <h3>¿Como nos manejamos?</h3>
                <b></b>
            </div>
            <div class="info">
                <section class="info1">
                    <div class="iconos-info">
                        <i class="fas fa-hand-pointer" ></i>
                    </div>
                    
                    <h4>1.Elegi tus platos</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Neque odit commodi esse corrupti soluta porro, cumque nesciunt 
                        eveniet unde illum, at molestias expedita consequatur tempore repellendus eius id ea. Atque.
                    </p>
                </section>
                <section class="info2">
                    <div class="iconos-info">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    
                    <h4>2.Recibi en casa.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Neque odit commodi esse corrupti soluta porro, cumque nesciunt 
                        eveniet unde illum, at molestias expedita consequatur tempore repellendus eius id ea. Atque.
                    </p>
                </section>
                <section class="info3">
                    <div class="iconos-info">
                        <i class="fas fa-utensils"></i>
                    </div>
                    
                    <h4>3.¡A comer!</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Neque odit commodi esse corrupti soluta porro, cumque nesciunt 
                        eveniet unde illum, at molestias expedita consequatur tempore repellendus eius id ea. Atque.
                    </p>
                </section>
            </div>
        </section> 
        <section>
            <div class="boton-menu">
                <button id="boton-menu">CONOCE NUESTRO MENU</button>
            </div>
        </section> 
        <section class="masElegidos">
            <div clase="secInfoTitle">
                <b></b>
                <h3>Los mas elegidos </h3>
                <b></b>
            </div>
            <div class="content">
                <article>
                    <div>
                        <img src="/img/Humitas-en-chala.jpg">
                    </div>
                    <div class="desc-elegidos">
                        <div class="description-content">
                            <p>
                                Humitas
                            </p>
                        </div>
                        
                        <div class="price-content">
                                <p>
                                    $1500 c/u
                                </p>
                        </div>
                    </div>
                </article>
                
                <article>
                    <div>
                        <img src="/img/tamales.jpg">
                    </div>
                    <div class="desc-elegidos">
                        <div class="description-content">
                            <p>
                                Tamales
                            </p>
                        </div>
                        
                        <div class="price-content">
                                <p>
                                    $1000 c/u
                                </p>
                        </div>
                    </div>
                </article>
                <article>
                    <div>
                        <img src="/img/empanadas.jpg">
                    </div>
                    <div class="desc-elegidos">
                        <div class="description-content">
                            <p>
                                Empanadas fritas
                            </p>
                        </div>
                        
                        <div class="price-content">
                                <p>
                                    $900  6u.
                                </p>
                        </div>
                    </div>
                </article>
                <article>
                    <div>
                        <img src="/img/bunuelos.jpg">
                    </div>
                    <div class="desc-elegidos">
                        <div class="description-content">
                            <p>
                                Buñuelos con api
                            </p>
                        </div>
                        
                        <div class="price-content">
                                <p>
                                    $2000 la doc.
                                </p>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section class="suscribite">
            <div class="logo-msje">
                <i class="fas fa-envelope"></i>
            </div>
            <div class="suscribite">
                <h3>Suscribite y obtene tu primer envio gratis</h3>
            </div>
            <div class="inputSuscribirte">
                <input placeholder="Ingresa tu correo electronico" id="input-correo">
                <button id="boton-suscribite">SUSCRIBIME</button>
            </div>
        </section>
    </main>
    <footer>
        <section class="sec1-footer">
            <div class="sec1-desc-footer">
                <h4>¡CONOCENOS!</h4>
                <div class="is-divider small"></div>
                <div >
                    <ul type="none" class="li-footer">
                        <li>Vende nuestros productos</li>
                        <li>Vendedores oficiales</li>
                        <li>Quienes somos</li>
                    </ul>
                </div>
              
            </div>
        </section>
        <section class="sec2-footer">       
            <div class="sec2-desc-footer">
                <h4>ATENCION AL CLIENTE</h4>
                <div class="is-divider small"></div>
                <div >
                    <ul type="none" class="li-footer">
                        <li>Terminos y condiciones</li>
                        <li>Preguntas Frecuentes</li>
                        <li>Contactanos</li>
                    </ul>
                </div>
              
            </div>
        </section>   
        <section class="sec3-footer">    
            <div class="sec3-desc-footer">
                <h4>COMUNICATE CON NOSOTROS</h4>
                <div class="is-divider small"></div>
            </div>
            <div class="location">
                <a><i class="fas fa-map-marker-alt"> Ramirez de Velazco 562 San Salvador de Jujuy - Argentina</i> </a>
            </div>
            <div class="redes-sociales">
                <a><i class="fab fa-facebook"></i> </a>
                <a><i class="fab fa-instagram"></i> </a>
                <a><i class="fas fa-envelope-square"></i></a>
            </div>
        </section>
    </footer>
    <section class="sec4-footer">    
        <div class="copyrgight">
            <p>Copyright © 1999-2020 ComidasRegionales NOA S.R.L.</p>
        </div>
    </section>
</body>
</html>