<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="/css/cssLogin.css" rel="stylesheet" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <header>
        <div class="mensaje">
            <p>Descuento de un 30% en productos seleccionados</p>
        </div>
        <section class="contenedor">
                <div class="burger-menu">
                    <button><i class="fas fa-bars"></i></button>
                </div> 
                <div class="content-img" >
                    <a href="/"><img src="/img/logo.jpeg" alt="logo-comercio"id="logo"> </a>        
                </div>
                <div class="searchBar"> 
                    <input type="text" id="fname" name="fname" placeholder="Buscar platos">    
                    <button id="boton-buscador"> <i class="fas fa-search"></i></i></button>
                </div>
                <div class="header-full">
                    <div clase="carrito">
                        <a href="./carrito"> <i class="fas fa-shopping-cart"></i></a>
                    </div>
                    <div class="location">
                            <i class="fas fa-map-marker-alt"> Ubicacion</i>
                    </div>
                    <div class="sign-in">
                            <a href="./registro"><i class="fas fa-sign-in-alt"> Inicio de Sesion</i> </a>
                    </div>
                </div>          
        </section> 
        <nav class="navBar">
            <div class="nav1">
                <ul class="enlaces-1" type="none" > 
                    <li><a href="">Congelados </a></li>
                    <li><a href="">Frescos </a></li>
                    <li><a href="./producto">Regionales</a></li>
                    <li><a href="">Recetas </a></li>
                </ul>
            </div>
           <div class="nav2">
                <ul type="none" clase="botones-redireccionables">
                    <li><button id="promo">Promos</button> </li>
                    <li><button>Combos</button> </li>
                    <li><button>Zonas de Envio</button></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="login-container">
            <img class="logo3" src="./img/Delicias.png" alt="Logo">
            <h2 class="in">Iniciar sesión</h2>
            <form class="forn" action="./login" method="get">
                <label for="username">Nombre de usuario:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
                <input type="submit" value="Enviar">
            </form> 
        </div>
    </main>
    <footer>
        <section class="sec1-footer">
            <div class="sec1-desc-footer">
                <h4>¡CONOCENOS!</h4>
                <div class="is-divider small"></div>
                <div >
                    <ul type="none" class="li-footer">
                        <li>Vende nuestros productos</li>
                        <li>Vendedores oficiales</li>
                        <li>Quienes somos</li>
                    </ul>
                </div>
              
            </div>
        </section>
        <section class="sec2-footer">       
            <div class="sec2-desc-footer">
                <h4>ATENCION AL CLIENTE</h4>
                <div class="is-divider small"></div>
                <div >
                    <ul type="none" class="li-footer">
                        <li>Terminos y condiciones</li>
                        <li>Preguntas Frecuentes</li>
                        <li>Contactanos</li>
                    </ul>
                </div>
              
            </div>
        </section>   
        <section class="sec3-footer">    
            <div class="sec3-desc-footer">
                <h4>COMUNICATE CON NOSOTROS</h4>
                <div class="is-divider small"></div>
            </div>
            <div class="location">
                <a><i class="fas fa-map-marker-alt"> Ramirez de Velazco 562 San Salvador de Jujuy - Argentina</i> </a>
            </div>
            <div class="redes-sociales">
                <a><i class="fab fa-facebook"></i> </a>
                <a><i class="fab fa-instagram"></i> </a>
                <a><i class="fas fa-envelope-square"></i></a>
            </div>
        </section>
    </footer>
    <section class="sec4-footer">    
        <div class="copyrgight">
            <p>Copyright © 1999-2020 ComidasRegionales NOA S.R.L.</p>
        </div>
    </section>
    
</body>
</html>