<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
</head>
<body>
    <header>
        <%- include('./partials/header')%>
    </header>
    <main>
        <section class="sec-carrusel">
            <div class="carrusel">
                <img src="/img/GASTRONOMIA.jpg">
            </div>
        </section>
        <section class="sec-info">
            <div clase="secInfoTitle">
                <b></b>
                <h3>¿Como nos manejamos?</h3>
                <b></b>
            </div>
            <div class="info">
                <section class="info1">
                    <div class="iconos-info">
                        <i class="fas fa-hand-pointer" ></i>
                    </div>
                    
                    <h4>1.Elegi tus platos</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Neque odit commodi esse corrupti soluta porro, cumque nesciunt 
                        eveniet unde illum, at molestias expedita consequatur tempore repellendus eius id ea. Atque.
                    </p>
                </section>
                <section class="info2">
                    <div class="iconos-info">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    
                    <h4>2.Recibi en casa.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Neque odit commodi esse corrupti soluta porro, cumque nesciunt 
                        eveniet unde illum, at molestias expedita consequatur tempore repellendus eius id ea. Atque.
                    </p>
                </section>
                <section class="info3">
                    <div class="iconos-info">
                        <i class="fas fa-utensils"></i>
                    </div>
                    
                    <h4>3.¡A comer!</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Neque odit commodi esse corrupti soluta porro, cumque nesciunt 
                        eveniet unde illum, at molestias expedita consequatur tempore repellendus eius id ea. Atque.
                    </p>
                </section>
            </div>
        </section> 
        <section>
            <div class="boton-menu">
                <button id="boton-menu">CONOCE NUESTRO MENU</button>
            </div>
        </section> 
        <section class="masElegidos">
            <div clase="secInfoTitle">
                <b></b>
                <h3>Los mas elegidos </h3>
                <b></b>
            </div>
            <div class="content">
                <article>
                    <div>
                        <img src="/img/Humitas-en-chala.jpg">
                    </div>
                    <div class="desc-elegidos">
                        <div class="description-content">
                            <p>
                                Humitas
                            </p>
                        </div>
                        
                        <div class="price-content">
                                <p>
                                    $1500 c/u
                                </p>
                        </div>
                    </div>
                </article>
                
                <article>
                    <div>
                        <img src="/img/tamales.jpg">
                    </div>
                    <div class="desc-elegidos">
                        <div class="description-content">
                            <p>
                                Tamales
                            </p>
                        </div>
                        
                        <div class="price-content">
                                <p>
                                    $1000 c/u
                                </p>
                        </div>
                    </div>
                </article>
                <article>
                    <div>
                        <img src="/img/empanadas.jpg">
                    </div>
                    <div class="desc-elegidos">
                        <div class="description-content">
                            <p>
                                Empanadas fritas
                            </p>
                        </div>
                        
                        <div class="price-content">
                                <p>
                                    $900  6u.
                                </p>
                        </div>
                    </div>
                </article>
                <article>
                    <div>
                        <img src="/img/bunuelos.jpg">
                    </div>
                    <div class="desc-elegidos">
                        <div class="description-content">
                            <p>
                                Buñuelos con api
                            </p>
                        </div>
                        
                        <div class="price-content">
                                <p>
                                    $2000 la doc.
                                </p>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section class="suscribite">
            <div class="logo-msje">
                <i class="fas fa-envelope"></i>
            </div>
            <div class="suscribite">
                <h3>Suscribite y obtene tu primer envio gratis</h3>
            </div>
            <div class="inputSuscribirte">
                <input placeholder="Ingresa tu correo electronico" id="input-correo">
                <button id="boton-suscribite">SUSCRIBIRME</button>
            </div>
        </section>
    </main>
    <footer>
        <%- include('./partials/footer')%>    
    </footer>
    <section class="sec4-footer">    
        <div class="copyrgight">
            <p>Copyright © 1999-2020 ComidasRegionales NOA S.R.L.</p>
        </div>
    </section>
</body>
</html>