<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles_producto.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet">
    <!-- <link href="/css/styles_home.css" rel="stylesheet" > -->
    <title> Detalle del Producto </title>
</head>
<body>
    
    <!-- TENGO Q RESOLVER EL PROBLEMA ENTRE EL CSS DEL HOME Y EL PRODUCTO  -->

    <!-- <header>
        <div class="mensaje">
            <p>Descuento de un 30% en productos seleccionados</p>
        </div>
        <section class="contenedor">
                <div class="burger-menu">
                    <button><i class="fas fa-bars"></i></button>
                </div> 
                <div class="content-img" >
                    <a href="/"><img src="/img/logo.jpeg" alt="logo-comercio"id="logo"> </a>        
                </div>
                <div class="searchBar"> 
                    <input type="text" id="fname" name="fname" placeholder="Buscar platos">    
                    <button id="boton-buscador"> <i class="fas fa-search"></i></i></button>
                </div>
                <div class="header-full">
                    <div clase="carrito">
                        <a href="./carrito"> <i class="fas fa-shopping-cart"></i></a>
                    </div>
                    <div class="location">
                            <i class="fas fa-map-marker-alt"> Ubicacion</i>
                    </div>
                    <div class="sign-in">
                            <a href="./registro"><i class="fas fa-sign-in-alt"> Inicio de Sesion</i> </a>
                    </div>
                </div>          
        </section> 
        <nav class="navBar">
            <div class="nav1">
                <ul class="enlaces-1" type="none" > 
                    <li><a href="">Congelados </a></li>
                    <li><a href="">Frescos </a></li>
                    <li><a href="./producto">Regionales</a></li>
                    <li><a href="">Recetas </a></li>
                </ul>
            </div>
           <div class="nav2">
                <ul type="none" clase="botones-redireccionables">
                    <li><button id="promo">Promos</button> </li>
                    <li><button>Combos</button> </li>
                    <li><button>Zonas de Envio</button></li>
                </ul>
            </div>
        </nav>
    </header> -->

    <main>
            <div class="navegacion">
                <p> <a href="/"> Inicio </a> </p>
                <p class="flecha"> > </p>
                <p> <a href="#"> Comidas Regionales </a> </p>
                <p class="flecha"> > </p>
                <p> <a href="#"> Locro </a> </p>
            </div>

            <section class="caja-grande">
                <img src="/img/Locro.jpg" alt="img-del-producto">

                <div class="detalle-de-compra">
                    <h2> LOCRO </h2>
                    <p class="precio"> $2000 </p>
                    <p class="promo"> Llevando 7 platos: $12345</p>
                    
                    <div class="contenedor1">
                        <article class="bloque-de-cantidad">
                            <div class="seleccion">
                                <p> Cantidad</p>
                                <p class="formulario-de-cantidad">
                                    <label for="cantidad">
                                        <input type="number" name="cantidad" id="cantidad" placeholder="1">
                                    </label>
                                </p>
                            </div>
            
                            <div class="botones-1">
                                <button type="button" class="signo-mas"> + </button>
                                <button type="button" class="signo-menos"> - </button>
                            </div>
                    
                        </article>
            
                        <a href="#"><button type="button"> AGREGAR AL CARRITO</button></a>
                    </div>
                </div>

            </section>

            <section class="seccion2">
                <h3> Ingredientes </h3>
                <p> Porotos blancos, Maíz blanco, Chorizo colorado, Chorizo criollo, Cuerito de cerdo, Pechito de cerdo, Falda,Panceta, Cebollas, Cebollas de verdeo, Puerro, Calabaza, Morrón rojo, Condimentos: sal, pimienta, comino, pimentón, ají molido, orégano </p>

                <p> Tiempo de Preparación: 3hs 1/2 a 4hs</p>
            </section>
    </main>


    

</body>
</html>