<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="/css/registro.css" rel="stylesheet" >
</head>
<body>
    <%- include('./partials/header')%>
    <main>
        <h1>Registro de Usuario</h1>
    <form class="forn" action="/submit" method="post">
        <label for="nombre">Nombre:<span class="required">*</span></label>
        <input type="text" id="nombre" name="nombre" required><br>

        <label for="apellido">Apellido:<span class="required">*</span></label>
        <input type="text" id="apellido" name="apellido" required><br>

        <label for="nombre_usuario">Nombre de usuario:<span class="required">*</span></label>
        <input type="text" id="nombre_usuario" name="nombre_usuario" required><br>

        <label for="fecha_nacimiento">Fecha de nacimiento:</label>
        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required><br>

        <label for="domicilio">Domicilio:</label>
        <input type="text" id="domicilio" name="domicilio" required><br>

        <label for="foto_usuario">Foto de usuario:</label>
        <input type="file" id="foto_usuario" name="foto_usuario" accept="image/*" required><br>
        
        <label for="correo_electronico">Correo electrónico:<span class="required">*</span></label>
        <input type="email" id="correo_electronico" name="correo_electronico" required><br>

        <label for="contrasenia">Contraseña:<span class="required">*</span></label>
        <input type="password" id="contrasenia" name="contrasenia" required><br>

        <label for="confirmar_contrasenia">Confirmar contraseña:<span class="required">*</span></label>
        <input type="password" id="confirmar_contrasenia" name="confirmar_contrasenia" required><br>

        <button class="boton" type="submit">Enviar</button>
        <button class="boton" type="reset">Borrar</button>
    </form>
    </main>
    <%- include('./partials/footer')%>  
    <section class="sec4-footer">    
                <div class="copyrgight">
                    <p>Copyright © 1999-2020 ComidasRegionales NOA S.R.L.</p>
                </div>
    </section>
 
</body>
</html>