 /*registro*/
*{
    box-sizing: border-box; 
    margin:0;
    padding:0;  
    font-family: "Montserrat", sans-serif;
}
section.contenedor{
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
header section div a img{
    width: 100%;
}
.content-img{
    width: 20vw;
}
.info{
    display: flex;
    justify-content: flex-end;
    width: auto;
}
#info-icon{
    font-size: 20px;
}
main {
    background-color: #fccc9f;
    padding: 50px;
}

.form {
    float: left;
}
.required {
    color: red;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    background-color: #731c025c;
    padding: 10px;
    border-radius: 10px;
}
.forn {
    width: 100%;
    margin: 0 auto;
    background-color: #FCAF67;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    position: relative;
}

input[type="text"], input[type="number"],
input[type="date"], select[id="tipo_usuario"],
input[type="password"],input[type="email"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

div.preview{
    width: 100%;
    height: 204px;
}

#imgPreview{
    width: 100%;
    height: 90%;
}

.categories-label {
    font-weight: bold;
    margin-bottom: 10px;
}

.boton {
    background-color: #731c02;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;

}
.boton[type="reset"] {
    background-color: #8b3629;
    margin-left: 10px;
}

.form-group {
    margin-bottom: 20px;
    text-align: center;
}

.form-group:last-child {
    margin-bottom: 0;
}

input.input_correcto {
    border: 3px solid green;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input.input_incorrecto {
    border: 3px solid red;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

label i {
    display: none;
}

i.fa-circle-check{
    display: inline-block;
    position: absolute;
    right: 3px;
    color: green;
}

i.fa-circle-xmark{
    display: inline-block;
    position: absolute;
    right: 3px;
    color: red
}

p.msg{
    display: none;
}

p.activo {
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin: -5px 5px 15px;
    color: #e60000;
}

center{
    height: 90%;
}

@media(min-width:376px){
    .content-img{
        width: 10vw;
    }
    .forn{
        width: 70%;
    }
}
@media(min-width:768px){
    .content-img{
        width: 8vw;
    }
    .inputs-container{
        height: auto;
        position: relative;
        column-count: 2;
        column-gap: 40px;
    }
    input[type= 'file']{
        padding: 8px;
    }
    .buttons{
        position: absolute;
        bottom: 5px;
        right: 0px;  
    }
    .forn{
        padding: 2% 3%;
        width: 70%;
        padding-bottom: 2%;
    }
    .tipo_usuario {
        margin-bottom: 10px;
    }
    .contraseñas{
        margin-top: 30px;
        margin-bottom: 10px;
    }
}