 /*registro*/
*{
    box-sizing: border-box; 
    margin:0;
    padding:0;  
    font-family: "Montserrat", sans-serif;
}
section.contenedor{
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
header section div a img{
    width: 100%;
}
.content-img{
    width: 20vw;
}
.info{
    display: flex;
    justify-content: flex-end;
    width: auto;
}
#info-icon{
    font-size: 20px;
}
main {
    background-color: #fccc9f;
    padding: 50px;
}

.form {
    float: left;
}
.required {
    color: red;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #041b34;
}
.forn {
    max-width: 500px;
    margin: 0 auto;
    background-color: #FCAF67;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="password"],input[type="email"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

.categories-label {
    font-weight: bold;
    margin-bottom: 10px;
}

.boton {
    background-color: #731c02;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;

}
.boton[type="reset"] {
    background-color: #8b3629;
    margin-left: 10px;
}

.form-group {
    margin-bottom: 20px;
    text-align: center;
}

.form-group:last-child {
    margin-bottom: 0;
}

@media(min-width:376px){
    .content-img{
        width: 10vw;
    }
}
@media(min-width:768px){
    .content-img{
        width: 8vw;
    }
}