*{
    box-sizing: border-box; 
    margin:0;
    padding:0;  
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif; 
}
header{
    background-color: #ebebeb;
    
}
section.contenedor{
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 50px;
    justify-content: space-around;
}
.burguer-menu{
    margin:5px;
    width: 0% ;
}
.content-img{
    width: 20%;
    margin:5px;
}
header section div a img{
    width: 100%;
    justify-self: center;
}
.searchBar{
    margin:5px;
    display: flex;
    width: 30%;
}
.searchBar input{
    width: 80%;
}
.carrito{
    margin:5px;
    width: 100%;
}
.header-full{
    display: flex;
    justify-content: space-between;
    width: auto;
}
.mensaje{
    background-color: #679b9b;
    color:white;
    text-align: center;
    padding: 5px;
}

main{
    background-color:#ebebeb;
    
}
.sec-info,.masElegidos{
    text-align: center;
    padding: 10px;
}
.info1,.info2,.info3{
    padding: 10px;
}
section div b{
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
}
.iconos-info{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 50px;
}
.boton-menu{
    text-align: center;
    padding: 10px;
}
#boton-menu{
    font-size: 15px;
    border-radius: 5px;
}
a{
    color:black;
    text-decoration: none;
}
button a{
    color:black;
    text-decoration: none;  
}
main section article{
    margin:0 auto 10px;
    width: 90%;
    background-color: white;
    flex-basis: 40%;
    padding: 5px;
}
article div img{
    width: 100%;
}
.carrusel{
    display: flex;
    justify-content: center;
    width: 100%;
}
main section div img{
    width: 100%;
}
.content{
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    padding: 10px;
}
.secInfoTitle{
    text-align: center;
    display: flex;
}
section.suscribite{
    background-image: url(/img/gastro-sus.jpeg);
    background-color: transparent;
    width: 100%;
    color: white;
    text-align: center;
    padding: 5px;
}
 /*registro*/
 main {
    background-image: url(/img\AJSE3EF6DZDVJIPF4KYFAJDM4A.avif);
    background-size: cover;
}

.form {
    float: left;
}

.required {
    color: red;
}


 h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #041b34;
}

.forn {
    max-width: 500px;
    margin: 0 auto;
    background-color: #679b9b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

.categories-label {
    font-weight: bold;
    margin-bottom: 10px;
}

.boton {
    background-color: #3f30ac;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;

}

.boton[type="reset"] {
    background-color: #3f30ac;
    margin-left: 10px;
    
    
}

.form-group {
    margin-bottom: 20px;
    text-align: center;
}

.form-group:last-child {
    margin-bottom: 0;
}
/*footer*/
footer{
    padding: 10px;
}
.sec1-footer,.sec2-footer,.sec3-footer{
    padding:10px;
}
.is-divider {
    height: 3px;
    display: block;
    background-color: rgba(0,0,0,.1);
    margin: 1em 0 1em;
    width: 100%;
    max-width: 30px;
}
.redes-sociales{
    padding: 10px;
}
.redes-sociales div i{
    width: 50%;
}
.location{
    display: flex;
    order:-2;
}
.sign-in{
    display: flex;
    order:-1;
}
.carrito{
    display: flex;
    order:2;
}
.navBar{
    display:none;
}
.sign-in{
    display: none;
}
/*responsiv*/
/*CELULARES */
@media(min-width:376px){
    .burger-menu button{
        display:none;
    }
    .searchBar{
        width: 50%;
        height: 30px;
    }
    #boton-buscador{
        width: 10%;
    }
    .navBar{
        display:flex;
        justify-content: space-between;
        padding: 5px;
    } 
    div ul li button{
        font-size: 15px;
        border-radius: 5px;

    }
    #promo{
        background-color: red;
        color: white;
        
    }
    header nav .nav1{
        display: flex;
        justify-content: flex-start;
        
    }
    header nav .nav2{
        display: flex;
        justify-content: flex-end;
        
    }
    header nav ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    header nav ul li{
        margin:5px;
    }
    section.contenedor{
        display: flex;
        justify-content: space-around;
    }
    .header-full{
        padding: 5px;
    }
    .sign-in{
        display: flex;
    }
}
/*TABLETS-DESKTOP*/
@media(min-width:768px){
    .searchBar{
        width: 60%;
        height: 40px;
    }
    #boton-buscador{
        width: 10%;
    }
    
    .header-full{
        display: flex;
       justify-content: space-between;
        width: 30%;
        font-size: 20px;
    }
    .content-img{
        width: 10%;
    }
    .navBar{
        padding: 10px;
    }
    div ul li button{
        font-size: 20px;
    }
    main section article {
        flex-basis: 20%;
    }
    main article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .content{
        display: flex; 
        justify-content:space-around; 
        display: 10px;
    }
    .sec-info{
        padding: 10px;
    }
    .info{
        display: flex;
        margin:5px;
    }
    .logo-msje{
        font-size: 80px;
    }
    #input-correo{
        width: 50%;  
        height: 30px;
    }
    #boton-suscribite{
        border-radius: 5px;
        height: 30px;
    }
    footer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding:50px 50px 0px 50px;
    }
    footer section {
        flex-basis: 33%;
    
    }
    .sec4-footer{
        position: relative;
        text-align: left;
        margin-left: 10px;
        padding: 10px;
    }
}