*{
    box-sizing: border-box; 
    margin:0;
    padding:0;  
    font-family: "Montserrat", sans-serif;
}
header{
    background-color: #FCAF67;
    
}

section.contenedor{
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.burguer-menu{
    margin:5px;
    width: 0% ;
}
header section div a img{
    width: 100%;
}
.content-img{
    width: 10%;
}
.searchBar{
    display: flex;
    width: 30%;
}
.searchBar input{
    width: 80%;
}
.carrito{
    margin:5px;
    width: 100%;
}
.header-full{
    display: flex;
    justify-content: space-between;
    width: auto;
}
.mensaje{
    background-color: #7E0306;
    color:white;
    text-align: center;
    padding: 5px;
}

main{
    background-color: #fccc9f;
    
}
.sec-info,.masElegidos{
    text-align: center;
    padding: 10px;
}
.info1,.info2,.info3{
    padding: 10px;
}
section div b{
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
}
.iconos-info{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 50px;
    transition:all 1s;
}
.iconos-info:hover{
    color:#D53E0F

}
.boton-menu{
    text-align: center;
    padding: 10px;
}

#boton-menu,.boton-nav2,#boton-suscribite{
    font-size: 15px;
    border-radius: 5px;
    background-color: #D53E0F;
    color:white;
    padding: 5px;
}
#boton-suscribite{
    font-size: 10px;
}
a{
    color:black;
    text-decoration: none;
}
button a{
    color:black;
    text-decoration: none;  
}
main section .tarjetas-de-producto{
    margin:0 auto 10px;
    width: 90%;
    background-color: white;
    flex-basis: 40%;
    padding: 5px;
    transition: box-shadow 1s;
}
article div img{
    width: 100%;
}
.carrusel{
    display: flex;
    justify-content: center;
    width: 100%;
}
main section div img{
    width: 100%;
}
.content{
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    padding: 10px;
}

main section .tarjetas-de-producto:hover{
    box-shadow: 1px 10px 10px 1px rgba(0,0,0,.2);
}
.secInfoTitle{
    text-align: center;
    display: flex;
}
section.suscribite{
    background-image: url(/img/gastro-sus.jpeg);
    background-color: transparent;
    width: 100%;
    color: white;
    text-align: center;
    padding: 5px;
}
#input-correo{
    transition: all 1s;
}
#input-correo:hover{
    border-radius: 10px;
    box-shadow: 1px 5px 5px 1px rgba(105, 14, 14, 0.5);
}
footer, .sec4-footer{
    padding: 10px;
    background-color: #FCAF67;
}
.sec1-footer,.sec2-footer,.sec3-footer{
    padding:10px;
}
.is-divider {
    height: 3px;
    display: block;
    background-color: rgba(0,0,0,.1);
    margin: 1em 0 1em;
    width: 100%;
    max-width: 30px;
}
.li-footer li{
    margin: 15px;
}
.redes-sociales i{
    padding: 10px;
    transition:all 0.5s;
}
.redes-sociales i:hover{
    color:#D53E0F;
}
div.redes-sociales a i{
    font-size: 40px;
    justify-items: space-between;
}
.location{
    display: flex;
    order:-2;
}
.sign-in{
    display: flex;
    order:-1;
}
.carrito{
    display: flex;
    order:2;
}
.navBar{
    display:none;
}
.sign-in{
    display: none;
}
/*CELULARES */
@media(min-width:376px){
    .burger-menu button{
        display:none;
    }
    .searchBar{
        width: 40%;
        height: 30px;
    }
    #boton-buscador{
        width: 10%;
    }
    .navBar{
        display:flex;
        justify-content: space-between;
        padding: 5px;
        align-items: center;
    } 
    div ul li button{
        font-size: 15px;
        border-radius: 5px;
    }
    #promo{
        background-color: red;
        color: white;
        padding: 2px;
    }
    header nav .nav1{
        display: flex;
        justify-content: flex-start;
        
    }
    header nav .nav2{
        display: flex;
        justify-content: flex-end;
    }
    header nav ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    header nav ul li{
        margin:5px;
    }
    section.contenedor{
        display: flex;
        justify-content: space-around;
    }
    .header-full{
        padding: 5px;
    }
    .sign-in{
        display: flex;
    }
}
/*TABLETS-DESKTOP*/
@media(min-width:768px){
    .searchBar{
        height: 40px;
    }
    #boton-buscador{
        width: 10%;
    }
    
    .header-full{
        display: flex;
       justify-content: space-between;
        width: 30%;
        font-size: 20px;
    }
    .navBar{
        padding: 10px;
    }
    div ul li button{
        font-size: 20px;
    }
    main section .tarjetas-de-producto {
        flex-basis: 20%;
    }
    main .tarjetas-de-producto{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    header{
        position:fixed;
        width: 100%;
        z-index: 999;
    }
    .content{
        display: flex; 
        justify-content:space-around; 
        display: 10px;
    }
    .sec-info{
        padding: 10px;
    }
    .info{
        display: flex;
        margin:5px;
    }
    .logo-msje{
        font-size: 80px;
    }
    #input-correo{
        width: 50%;  
        height: 30px;
    }

    #boton-suscribite{
        border-radius: 5px;
        height: 30px;
    }
    footer{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    footer section {
        flex-basis: 33%;
    }
    .sec4-footer{
        text-align: left;
        padding: 10px;
    }
}