*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background-color: #ebebeb;
    margin-bottom: 10px;
}
.contenedor{
    background-color: white;
    padding: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
}
.burguer-menu{
    margin:5px;
    width: 20% ;
}
#logo{
    margin:5px;
    width: 20%;
}
.searchBar{
    margin:5px;
    width: auto;
    display: flex;
}
.carrito{
    margin:5px;
    width: 30%;
}
.mensaje{
    background-color: #679b9b;
    color:white;
    text-align: center;
    padding: 5px;
}
.sign-in{
    display: none;
}





main{
    background-color: #ebebeb;
    padding: 20px;
}

h1{
    margin: 30px 0;
    font-size: 20px;
}

.envio-gratis{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    
}

.envio-gratis label{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.barra{
    height: 15px;
    width: 100%;
    margin-bottom: 5px;
}

.envio-gratis h3{
    width: 50%;
    margin-bottom: 10px 0;
}

.monto-envio{
    text-align: end;
}

.eleccion{
    margin: 20px 0 -30px 0;
}

.categorias{
    font-size: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    
}

.categorias h2{
    margin: 5px;
    display: none;
}

article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 40px 0;
}

.borrar-producto{
    width: 5%;
    height: 10px;
    margin: 5px;
}

img{
    width: 20%;
}

.caja{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.descripcion{
    width: 95%;
}

.precios{
    width: 30%;
    text-align: end;
}

.cantidades{
    display: none;
}

.cantidades-mobile{
    width: 45%;
    position: absolute;
    top: 30px;
    right: 60px;
}


div .cantidades-m{
    padding: 5px;
    border-radius: 5px;
}

.total-producto{
    display: none;
}

.titular{
    font-size: 14px;
    margin: 50px 0 15px 0;
}

.montos-adicionales{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.tipo-de-monto{
    width: 50%;
    margin: 10px 0;
}

.montos-adicionales .monto{
    width: 50%;
    text-align: end;
    margin: 10px 0;
}

.codigo-postal, .calcular-envio{
    margin: auto;
}

.codigo-postal{
    width: 50%;
    margin-right: 2px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #666;
}

.calcular-envio{
    margin-left: 2px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #666;
}

.porcentaje-descuento{
    width: 50%;
    text-align: end;
}
.descuento{
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #666;
}

.pago-total{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.total{
    width: 50%;
    margin: 10px 0;
}

.monto-total{
    width: 50%;
    text-align: end;
    margin: 10px 0;
}

.buttons{
    margin: auto;
}

.mas-productos{
    margin-right: 2px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #666;
}

.finalizar-compra{
    margin-left: 2px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #666;
}



@media (min-width: 361px){
    .envio-gratis{
        width: 75%;
    }
    .categorias{
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 1px solid #000;
    }
    .categorias h2{
        display: block;
        margin-top: 70px;
        
    }
    .product{
        width: 27%;
    }
    .precio{
        width: 17%;
        text-align: center;
    }
    .cantid{
        width: 25%;
        text-align: center;
    }
    .tot{
        width: 18%;
        text-align: end;
    }
    .cantidades{
        display: block;
        width: 30%;
        position: absolute;
        top: 63%;
        right: 15%;
    }
    .cantidades-m{
        display: none;
    }
    .restar-cantidad{
        text-align: center;
        padding: 5px;
    }
    .sumar-cantidad{
        text-align: center;
        padding: 5px;
    }
    .item-cantidad{
        width: 30%;
        border: 1px solid #666;
        text-align: center;
        padding: 5px;
    }
    .total-producto{
        display: block;
    }
    article{
        margin: 50px 0;
    }
    .descripcion{
        font-size: 12px;
        width: 29%;
        position: absolute;
        bottom: -90%;
        left: 6%;
    }
    .precios{
        position: absolute;
        top: 20%;
        left: 15%;
    }
}

@media (min-width: 769px){
    .envio-gratis{
        width: 50%;
    }
    .product{
        width: 30%;
    }
    .precio{
        width: 20%
    }
    img{
        width: 10%;
        position: absolute;
        top: -40%;
        left: 5%;
    }
    .descripcion{
        width: 20%;
        bottom: -15%;
        left: 15%;
    }
    .cantidades{
        top: 0;
        right: 11%;
    }
    .montos, .pago-total{
        padding: 0 30px;
        margin-bottom: 10px;
        
    }
    .montos .titular{
        border-bottom: 1px solid #000;
        
    }
    .total-con-envio{
        padding-top: 15px;
        border-top: 1px solid #000; 
    }
    .total, .monto-total{
        padding-top: 15px;
        border-top: 1px solid #000; 
    }
    .buttons{
        margin: auto;
        text-align: center;
    }
    .finalizar-compra, .mas-productos{
        margin: auto;
    }
}